<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Add_Patient</display-name>
    <servlet-name>Add_Patient</servlet-name>
    <servlet-class>myServlets.Add_Patient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Patient</servlet-name>
    <url-pattern>/Add_Patient</url-pattern>
  </servlet-mapping>
  <display-name>e_healthwed_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>add_hospital</display-name>
    <servlet-name>add_hospital</servlet-name>
    <servlet-class>myServlets.add_hospital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_hospital</servlet-name>
    <url-pattern>/add_hospital</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_doctors</display-name>
    <servlet-name>add_doctors</servlet-name>
    <servlet-class>myServlets.add_doctors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_doctors</servlet-name>
    <url-pattern>/add_doctors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_disease</display-name>
    <servlet-name>add_disease</servlet-name>
    <servlet-class>myServlets.add_disease</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_disease</servlet-name>
    <url-pattern>/add_disease</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletepatient</display-name>
    <servlet-name>deletepatient</servlet-name>
    <servlet-class>myServlets.deletepatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletepatient</servlet-name>
    <url-pattern>/deletepatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletehospital</display-name>
    <servlet-name>deletehospital</servlet-name>
    <servlet-class>myServelts.deletehospital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletehospital</servlet-name>
    <url-pattern>/deletehospital</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletedoctor</display-name>
    <servlet-name>deletedoctor</servlet-name>
    <servlet-class>myServelts.deletedoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletedoctor</servlet-name>
    <url-pattern>/deletedoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_patient</display-name>
    <servlet-name>update_patient</servlet-name>
    <servlet-class>myServlets.update_patient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_patient</servlet-name>
    <url-pattern>/update_patient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_doctor</display-name>
    <servlet-name>update_doctor</servlet-name>
    <servlet-class>myServlets.update_doctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_doctor</servlet-name>
    <url-pattern>/update_doctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_hospital</display-name>
    <servlet-name>update_hospital</servlet-name>
    <servlet-class>myServlets.update_hospital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_hospital</servlet-name>
    <url-pattern>/update_hospital</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>myServlets.admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doctor</display-name>
    <servlet-name>doctor</servlet-name>
    <servlet-class>myServlets.doctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doctor</servlet-name>
    <url-pattern>/doctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Diagnose</display-name>
    <servlet-name>Add_Diagnose</servlet-name>
    <servlet-class>myServlets.Add_Diagnose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Diagnose</servlet-name>
    <url-pattern>/Add_Diagnose</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>disease</display-name>
    <servlet-name>disease</servlet-name>
    <servlet-class>myServlets.disease</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disease</servlet-name>
    <url-pattern>/disease</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_disease</display-name>
    <servlet-name>update_disease</servlet-name>
    <servlet-class>myServlets.update_disease</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_disease</servlet-name>
    <url-pattern>/update_disease</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hospitaldelete</display-name>
    <servlet-name>hospitaldelete</servlet-name>
    <servlet-class>myServlets.hospitaldelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hospitaldelete</servlet-name>
    <url-pattern>/hospitaldelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doctordelete</display-name>
    <servlet-name>doctordelete</servlet-name>
    <servlet-class>myServlets.doctordelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doctordelete</servlet-name>
    <url-pattern>/doctordelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletedisease</display-name>
    <servlet-name>deletedisease</servlet-name>
    <servlet-class>myServlets.deletedisease</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletedisease</servlet-name>
    <url-pattern>/deletedisease</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>myServlets.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>